@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500;600;700&display=swap');

.head{
    background-image: ur("../image/background/h_img.jpg";
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 230px;
    text-transform: uppercase;
  
   
 
}